/out/production/QuestionGen/com/ihaveaname/
/QuestionGen.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/libraries/cglib_nodep_3_3_0.xml
/.idea/.gitignore
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/google-java-format.xml
/.idea/scala_settings.xml
